---
layout: default
title: Artists
permalink: /artists/
published: false
---

{% assign posts_by_artist = site.posts | sort: 'track.artist' | group_by_exp:"post", "post.track.artist" %}
<ul>
{% for artist in posts_by_artist %}
  {% assign this_artist = artist.name %}
  <li>{{ artist.name }} - ({{ artist.size | pluralize: 'track', 'tracks' }})</li>

  {% assign artist_tracks = artist.items | sort: 'track.title'%}
  <ul>
    {% for track_entity in artist_tracks %}
      <li><a href="/tracks/{{ track_entity.slug }}">{{ track_entity.track.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
</ul>
