---
layout: default
permalink: /
---

<a href="/genres">Genres</a>

{% assign posts_by_year = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in posts_by_year %}
  <h3>{{ year.name }} ({{ year.size }})</h3>
  <ul>
    {% for post in year.items %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}

{% capture highest_year_count %}
  {% assign posts_by_year = posts_by_year | sort: 'size' %}

  {% for year in posts_by_year %}
    {% if forloop.last == true %}
      {{ year.size | append: '.0' }}
    {% endif %}
  {% endfor %}
{% endcapture %}

{{ site.posts.size }} tracks in total

<div style="height: 300px">
  {% assign posts_by_year = site.posts | group_by_exp:"post", "post.date | date: '%Y'"  %}
  {% for year in posts_by_year %}

    {% assign number_of_tracks_in_year = year.size | times: 10 %}
    {% capture year_percentage %}{{ number_of_tracks_in_year | divided_by: highest_year_count | times: 10 }}{% endcapture %}

    <div style="float: left; background: red; min-height: 10px; margin-right: 2px; height: {{ year_percentage | append: '%' }} ">
      {{ year.name }} {{ year.size }}
    </div>

  {% endfor %}
</div>
