---
layout: default
title: Tracks
permalink: /tracks/
pagination:
  enabled: true
---

<ul class="post-list">
  {% for post in paginator.posts %}
  <li>
    <h2>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> - <span class="post-meta">Posted {{ post.published_date | date: "%b %-d, %Y" }} released: {{ post.date | date: "%b %-d, %Y" }}</span>
    </h2>
  </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<ul class="pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | remove: 'index.html'  }}">&larr; Newer tracks</a>
  </li>
  {% endif %} {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' | remove: 'index.html' }}">Older tracks &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
