---
layout: default
permalink: /
---

{% for track-item in site.tracks %}
  {% capture currentyear %}{{track-item.date | date: "%Y"}}{% endcapture %}
  {% if currentyear != year %}
     <h2>{{ currentyear }}</h2>
    {% capture year %}{{currentyear}}{% endcapture %}
  {% endif %}
  <ul class="track-items-in-year">
    <li><a href="{{ track-item.url | prepend: site.baseurl }}">{{ track-item.track.title }} — {{ track-item.track.artist }}</a></li>
  </ul>
{% endfor %}

{% for category in site.categories %}
  <li><a name="{{ category | first }}">{{ category | first }}</a>
    <ul>
    {% for posts in category %}
      {% for post in posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}

{% assign year_count = 45 %}
{% assign highest_year_count = 105.0 %}

{{ year_count | times: highest_year_count | divided_by: 100.0 | round: 4 }}
