@mixin breakpoint($breakpoint: $screen-sm) { // *-xs *-sm *-md *-lg
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.pull-right { float: right!important; }
.pull-left { float: left!important; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.prevent-wrap { white-space: nowrap; }
