.grid {
  list-style: none;
  margin-left: -$grid-gutter-width;
  margin-right: -$grid-gutter-width;

  @include breakpoint($screen-md) {
    margin-left: -($grid-gutter-width * 2);
    margin-right: -($grid-gutter-width * 2);
  }
}

.grid-item,
.grid-sizer {
  width: 50%;

  @include breakpoint($screen-sm) {
    width: 33.33333%;
  }

  @include breakpoint($screen-md) {
    width: 33.333333%;
  }
}

.grid-item {
  float: left;
  height: auto;
  padding: $grid-gutter-width;

  @include breakpoint($screen-md) {
    padding: ($grid-gutter-width * 2);
  }
}
