.home-layout {
    @extend .grid-container;

    .home-intro {
        grid-row: 1;
        @include grid-column-from-to(1,6);

        @include grid-media(tablet) {
            grid-row: 1;
            @include grid-column-from-to(1,6);
        }
    }

    .home-links {
        grid-row: 2;
        @include grid-column-from-to(1,6);

        @include grid-media(tablet) {
            grid-row: 1;
            @include grid-column-from-to(8,12);
        }
    }
}

.home-title {
    padding-bottom: 1rem;
}

.home-intro {
    padding-bottom: 1rem;
}