.track-page {
  .track-title {
    font-size: 2.4rem;
    margin-bottom: 4px;
  }

  .track-artist {
    font-size: 1.8rem;
    opacity: .3;
  }

  .track-release-artwork {
    @extend .clearfix;
    display: block;
    width: 100%;
    box-shadow: 0px 0px 47px 0px rgba(black, 0.5);
    line-height: 0;
  }

  .track-release-artwork__image {
    width: 100%;
    height: auto;
  }

  .track-submission-author {
    background: black;
  }

  .track-submission-author__image {
    width: 64px;
  }
}
