.accordion-container,
.accordion-container:not(:target) {
    .accordion-title {
        display: block;
    }

    .accordion-content {
        display: none;
    }
}

.accordion-container.active,
.accordion-container:target {
    .accordion-title {
        color: red;
    }

    .accordion-content {
        display: block;
    }
}
