.accordion {
    --accordion-padding-left: #{rem(48px)};

    border-radius: var(--component-border-radius);

    .accordion-container,
    .accordion-container:not(:target) {
        display: block;
        transition: margin 0.2s, padding 0.2s;

        .accordion-title .icon-chevron {
            position: absolute;
        }

        .accordion-title {
            display: block;
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
            text-align: left;
            background-color: transparent;
            padding: 8px var(--accordion-padding-left);
            color: white;
            border: 0;
            border-radius: var(--component-border-radius);
            line-height: 1.3;
            
            &:hover {
                background-color: var(--color-component-hover);
                background-color: var(--color-cta);
            }
        }

        .accordion-title .icon-chevron {
            width: 24px;
            height: 24px;
            transform: rotate(0deg);
            transition: transform 0.2s;
            fill: white;
            position: absolute;
            left: 16px;
        }

        .accordion-content {
            overflow-x: auto;
            border-top: 2px solid var(--color-background);
            max-height: 0;
            opacity: 0;
            visibility: hidden;
            transition: 
                max-height 0.2s,
                opacity 0.2s,
                visibility 0s linear 500ms
            ;
        }
    }

    .accordion-container.active,
    .accordion-container:target {
        margin: 32px 0;
        transition: margin 0.2s, padding 0.2s;
        border-radius: var(--component-border-radius);
        background-color: var(--color-component-hover);

        .accordion-title {
            border-radius: var(--component-border-radius) var(--component-border-radius) 0 0;

            &:hover {
                background-color: var(--color-component-hover);
            }
        }

        .accordion-title .icon-chevron {
            transform: rotate(-180deg);
            transition: transform 0.2s;
        }

        .accordion-content {
            max-height: 320px;
            visibility: initial;
            opacity: 1;
            transition: 
                max-height 0.2s,
                opacity 0.2s,
                visibility 0s linear
            ;
        }
    }
}

.accordion-container:target {
    .accordion-title .icon-chevron {
        display: none;
    }
}

.accordion-track-list {
    list-style: none;
    margin-top: -2px;

    .accordion-track-list-item {
        margin: 0;
    }
    
    .accordion-track-list-item-link {
        display: block;
        color: var(--color-cta);
        text-decoration: none;
        padding: 12px var(--accordion-padding-left);
        border-top: 2px solid var(--color-background);
        outline-offset: -4px;
        
        &:hover {
            background: var(--color-component-hover);
        }
    }
}
