.album-list-item {
    display: flex;
    align-items: center;
    gap: var(--gutter);
    text-decoration: none;
    
    .track-artwork-container {
        min-width: 92px;
        align-self: stretch;
    }

    .album-list-item-meta {
    }

    .album-list-item-meta-primary,
    .album-list-item-meta-secondary,
    .album-list-item-meta-tertiary {
        display: block;
    }

    .album-list-item-meta-primary {
        @extend .format, .plain-link;
        @extend .type-level-4;
        font-weight: var(--font-weight-body-bold);
        margin-top: -2px;
    }

    .album-list-item-meta-secondary {
        @extend .type-level-5;
        color: var(--color-text);
        margin-top: rem(4px);
    }

    .album-list-item-meta-tertiary {
        @extend .text-emphasis-secondary;
        font-size: var(--font-size-xsmall);
        color: var(--color-text);
        margin-top: rem(4px);
    }
}


@include grid-media(tablet) {
    .album-list-item {
        display: block;

        .track-artwork-container {
            min-width: 100%;
        }
    
        .album-list-item-meta {
        }
    
        .album-list-item-meta-primary { margin-top: rem(12px); }
    }
}
