.album-list-item {
    display: flex;
    align-items: center;
    gap: var(--gutter);
    text-decoration: none;

padding: var(--gutter);
  margin-bottom: 0;

  @include grid-media(desktop) {
    padding: calc(#{var(--gutter)} / 2);
  }
    
    .track-artwork-container {
        min-width: 92px;
        align-self: stretch;
    }
    
    .track-artwork {
        background-color: var(--color-cta);
    }

    &:hover, 
    &:focus {
        .track-artwork {
            background-blend-mode: luminosity;
        }

        &:before {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border-radius: 12px;
            background: rgba(white, .03);
            z-index: -1;
        }
    }

    .album-list-item-meta {
    }

    .album-list-item-meta-primary,
    .album-list-item-meta-secondary,
    .album-list-item-meta-tertiary {
        display: block;
    }

    .album-list-item-meta-primary {
        @extend .format, .plain-link;
        @extend .type-level-4;
        font-weight: var(--font-weight-body-bold);
        margin-top: -2px;
    }

    .album-list-item-meta-secondary {
        @extend .type-level-5;
        color: var(--color-text);
        margin-top: rem(4px);
    }

    .album-list-item-meta-tertiary {
        @extend .text-emphasis-secondary;
        font-size: var(--font-size-xsmall);
        color: var(--color-text);
        margin-top: rem(4px);
    }
}


@include grid-media(tablet) {
    .album-list-item {
        display: block;

        .track-artwork-container {
            min-width: 100%;
        }
    
        .album-list-item-meta {
        }
    
        .album-list-item-meta-primary { margin-top: rem(12px); }
    }
}
