---
layout: page-with-title
layout_scope: genre
---

<h3>Genre</h3>
<h1>{{ page.title }}</h1>

{% assign this_genre = page.title %}

<ul>
  {% for track_entity in site.categories[this_genre] %}
    <li data-discogs_release_id="{{ track_entity.track.appears_on.discogs_release_ID }}">
      <a href="{{ track_entity.url }}">
        <span data-release-artwork class="track-artwork"></span>
        {{ track_entity.track.title }} — {{ track_entity.track.artist }}
      </a>
    </li>
  {% endfor %}
</ul>

<script>
  {% include /javascript/artwork.js %}
  artwork('background')
</script>
