---
layout: page-with-title
layout_scope: genre
---

<h3>Genre</h3>
<h1>{{ page.title }}</h1>

{% assign this_genre = page.title %}

<ul class="grid">
  <div class="grid-sizer"></div>

  {% for track_entity in site.categories[this_genre] %}
    <li class="grid-item" data-discogs_release_id="{{ track_entity.track.appears_on.discogs_release_ID }}">
      <a href="{{ track_entity.url }}">
        <span data-release-artwork class="track-artwork"></span>
        <span>{{ track_entity.track.title }}</span>
        <span>{{ track_entity.track.artist }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

<script>
  {% include /javascript/artwork.js %}
  artwork('background')

  {% include /javascript/jQuery.min.js %}
  {% include /javascript/isotope.min.js %}
  $('.grid').isotope({
    itemSelector: '.grid-item',
    layoutMode: 'fitRows',
    percentPosition: true,
    masonry: {
      columnWidth: '.grid-sizer',
      isFitWidth: true
    }
  });
</script>
