---
layout: default
---
<div class="track-page" data-discogs_release_id="{{ page.track.appears_on.discogs_release_ID }}">
  <div class="row">

    <div class="col-sm-10 col-sm-offset-2 col-sm-push-12">
      <div class="track-release-artwork">
        <img class="track-release-artwork__image" data-release-artwork>
      </div>
    </div>

    <div class="col-sm-12 col-sm-pull-12">
      <h1 class="track-title">{{ page.track.title }}</h1>
      <h2 class="track-artist">{{ page.track.artist }}</h2>

      <dl>
        {% if page.track.appears_on %}
          {% if page.track.appears_on.album %}
            <dt>From the album</dt>
            <dd>{{ page.track.appears_on.album }}</dd>

          {% elsif page.track.appears_on.ep %}
            <dt>From the EP</dt>
            <dd>{{ page.track.appears_on.ep }}</dd>

          {% elsif page.track.appears_on.single %}
            <dt>From the single</dt>
            <dd>{{ page.track.appears_on.single }}</dd>

          {% elsif page.track.appears_on.compilation %}
            <dt>From the compilation</dt>
            <dd>{{ page.track.appears_on.compilation }}</dd>

          {% elsif page.track.appears_on.soundtrack %}
            <dt>From the soundtrack</dt>
            <dd>{{ page.track.appears_on.soundtrack }}</dd>

          {% endif %}
        {% endif %}

        <dt>Year</dt>
        <dd><a href="/years/{{ page.date | date: '%Y' }}">{{ page.date | date: '%Y' }}</a></dd>
      </dl>
      <ul>
        Genre{% if page.categories.size > 1 %}s{% endif %}
        {% for genre in page.categories %}
          <li><a href="/genres/{{ genre | slugify }}">{{ genre }}</a></li>
        {% endfor %}
      </ul>

      {% if page.track.spotify_track_URI %}
        <iframe class="spotify-embed"
                src="//open.spotify.com/embed?uri={{ page.track.spotify_track_URI }}"
                width="300"
                height="80"
                frameborder="0"
                allowtransparency="true" seamless></iframe>
      {% endif %}

      {% if page.track.tidal_track_ID %}
        <div class="tidal-embed"
             data-type="t"
             data-id="7597267"></div>
        <script src="https://embed.tidal.com/tidal-embed.js"></script>
      {% endif %}

      {% if page.track.bandcamp %}

      <iframe style="border: 0; width: 100%; height: 120px;"
              src="https://bandcamp.com/EmbeddedPlayer/album={{ page.track.bandcamp.album_ID }}/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/track={{ page.track.bandcamp.track_ID }}/transparent=true/" seamless></iframe>
      {% endif %}

      <div class="source-links">
        <h3>Links</h3>
        {% if page.additional_info %}
          {{ page.additional_info | markdownify }}
        {% endif %}
        {% if page.track.wikipedia_URL %}
          <a href="{{ page.track.wikipedia_URL }}" target="_blank">Wikipedia entry</a>
        {% elsif page.track.source_URL %}
          <a href="{{ page.track.source_URL }}" target="_blank">Source</a>
        {% endif %}
        {% if page.track.appears_on.discogs_release_ID %}
          <a href="//discogs.com/release/{{ page.track.appears_on.discogs_release_ID }}" target="_blank">Discogs release</a>
        {% endif %}
      </div>

      <div>
        <h4 class="subtitle-label">Submitted by</h4>
        {% include author-card.html card_author=page.author %}

        <time>{{ page.published_date | date: "%-d %B %Y"}}</time>
      </div>
    </div>
  </div>
</div>

<script>
  {% include /javascript/track/show.js %}
</script>
