.label-count { 
    background: white;
    border-radius: 100px;
    color: var(--color-text-inverted);
    text-align: center;
    font-weight: var(--font-weight-body-bold);
    display: inline-block;
    padding: 0 8px;
    font-size: 22px;
    line-height: 32px;
    height: 32px;
    min-width: 32px;
    mix-blend-mode: screen;
}

.label-count--right { 
    margin-left: rem(8px);
}
