.underlined-link a,
a.underlined-link,
.format.underlined-link {
  text-decoration: none;
  color: var(--color-text);
  border-bottom: rem(1px) solid;
  border-bottom-color: inherit;
  
  &:hover {
    opacity: .8;
  }
}

.underlined-link-on-hover a,
a.underlined-link-on-hover,
.format.underlined-link-on-hover {
  text-decoration: none;
  color: var(--color-cta);
  border-bottom: rem(1px) solid;
  border-bottom-color: transparent;
  
  &:hover { border-bottom-color: var(--color-cta); }
}

.plain-link a,
a.plain-link,
.format.plain-link {
  text-decoration: none;
  color: var(--color-cta);
  border-bottom: rem(1px) solid;
  border-bottom-color: transparent;
}


h1, h2, h3, h4 { 
  a:hover {
    border-bottom-width: rem(2px);
  }
}

.link-subtitle {
  text-decoration: none;
  color: var(--color-cta);
}
